@model IEnumerable<CoreDBAPIClient.Models.Students>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    @using(@Html.BeginForm())
    {
        <b>Search by</b>
        @Html.RadioButton("searchby","Name",true) <b>Name</b>
        @Html.RadioButton("searchby","Age") <b>Age</b>
        @Html.RadioButton("searchby","Gender") <b>Gender</b>
        @Html.RadioButton("searchby","Year") <b>Year</b>
        @Html.RadioButton("searchby","Course") <b>Course</b>
        <br />
        @Html.TextBox("search") <input type="submit" name="submit" value="search" />
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr colspan="6">
                <td>No records found</td>
            </tr>
        }
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Doj)*@
                @Convert.ToDateTime(item.Doj).ToString("dd-MM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
